<%- include("partials/header") -%>
<h1>Home</h1>
<div>
  <p>
    <strong>Welcome to BLOGGER HUB,</strong> your ultimate destination for all
    things blogging! Whether you're a seasoned blogger looking to expand your
    reach or a newcomer eager to dive into the world of online writing, you've
    come to the right place. At BLOGGER HUB, we believe that blogging is not
    just a hobby or a profession—it's a community. Our platform is designed to
    foster connections, spark inspiration, and provide valuable resources to
    help you thrive in the ever-evolving blogosphere. Happy bloging! 🎉
  </p>
</div>

<% posts.forEach(element =>{ %>
<h1><%= element.postTitle %></h1>
<p>
  <%=element.postBody.substring(0, 500) + " ..."%>
  <a href="/posts/<%=element.postTitle%>">Read More</a>
</p>
<% }) %> <%- include("partials/footer") -%>
